:root {
  /*------------------------------
Colors Variables
------------------------------*/
  --primaryColor: #fbd103;
  --secondaryColor: #004743;
  --lightGrey: #f7f7f7;
  --darkGrey: #323232;
  /*------------------------------
Fonts Variables
------------------------------*/
  /* --font-reg: "Poppins Regular", Arial, Helvetica, sans-serif;
  --font-med: "Poppins Medium", Arial, Helvetica, sans-serif;
  --font-sb: "Poppins SemiBold", Arial, Helvetica, sans-serif;
  --font-bold: "Poppins Bold", Arial, Helvetica, sans-serif;
  --font-black: "Poppins Black", Arial, Helvetica, sans-serif; */
  /*------------------------------
Other Variables
------------------------------*/
  --transitionAll: all 0.5s ease-in;
}

/* :root.dark-theme {
} */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------
Reset - Start
------------------------------*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
/*------------------------------
Reset - End
------------------------------*/

/*------------------------------
Helper Classes - Start
------------------------------*/
.h-full {
  height: 100%;
}
/*------------------------------
Helper Classes - End
------------------------------*/

/*------------------------------
Components - Start
------------------------------*/
.btn {
  width: 15rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  color: #ffffff;
  background-color: var(--secondaryColor);
}
/*------------------------------
Components - End
------------------------------*/

/*------------------------------
					App - Start
------------------------------*/
/*------------------------------
Header - Start
------------------------------*/
header {
  background-color: var(--lightGrey);
}

.menu {
  height: 5rem;
  padding: 1rem 2rem;
  box-shadow: 0px 1px 2px #d4d2d2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 2.5rem;
  font-weight: bold;
  color: var(--secondaryColor);
}

.logo span:last-child {
  color: var(--primaryColor);
}

.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIconImage {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.menuIconImage img {
  width: 60%;
}

.hamburgerMenu {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenuLine {
  position: relative;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  transition: var(--transitionAll);
}

.hamburgerMenuLine::before,
.hamburgerMenuLine::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  width: 2.5rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  transition: var(--transitionAll);
}

.hamburgerMenuLine::after {
  top: auto;
  bottom: 0.8rem;
}

.hamburgerMenuOpen .hamburgerMenuLine {
  background-color: transparent;
}

.hamburgerMenuOpen .hamburgerMenuLine::before {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.hamburgerMenuOpen .hamburgerMenuLine::after {
  transform: translateY(0.8rem) rotate(45deg);
}

nav {
  position: absolute;
  top: -100rem;
  left: 0;
  right: 0;
  background-color: var(--lightGrey);
  width: 100%;
  height: 100vh;
  transition: var(--transitionAll);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.navInMobile {
  top: 5.1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--darkGrey);
}

nav ul a {
  width: 100%;
  padding: 0.5rem;
  color: var(--darkGrey);
  text-align: center;
}

nav ul a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.search {
  width: 22rem;
  position: relative;
  text-align: center;
}

#searchInput {
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 10rem;
  height: 3rem;
  padding: 1rem 2.5rem 1rem 1.5rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
}

.search img {
  width: 2rem;
  position: absolute;
  top: 50%;
  right: 0.9rem;
  transform: translateY(-50%);
}

#search::placeholder {
  color: #0000003f;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.headerContentLeft {
  position: relative;
  margin-bottom: 2rem;
}

.headerContentLeft img:first-child {
  width: 100%;
  filter: grayscale(1);
}

.headerContentLeft img:last-child {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerContentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkGrey);
  text-align: center;
}

.headerContentRight h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  line-height: 1.2;
}
/*------------------------------
Header - End
------------------------------*/
/*------------------------------
Attributes - Start
------------------------------*/

.attributes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem 0;
}

.attribute {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 2px 2px #d4d2d2;
}

.attributesImage {
  width: 20%;
  margin-right: 3rem;
}

.attributesText {
  color: var(--darkGrey);
  text-align: left;
}

.attributesText p:first-child {
  font-weight: bold;
}

/*------------------------------
Attributes - End
------------------------------*/
/*------------------------------
Collection - Start
------------------------------*/
.collection {
  display: flex;
  flex-direction: column;
}

.collectionBtn {
  background-color: #ffffff;
  color: var(--darkGrey);
}

.collectionWomen,
.collectionMen {
  height: 24rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    51deg,
    rgba(108, 221, 255, 1) 0%,
    rgba(88, 196, 228, 1) 100%
  );
  overflow: hidden;
}

.collectionWomenContent,
.collectionMenContent {
  padding: 3rem 0 0 1rem;
  color: #ffffff;
}

.collectionWomenContent h2,
.collectionMenContent h2 {
  max-width: 15rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.collectionWomenContent p,
.collectionMenContent p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
}

.collectionWomenContent p span {
  color: var(--primaryColor);
  font-weight: bold;
}

.collectionMenContent p span {
  color: var(--secondaryColor);
  font-weight: bold;
}

.collectionWomenImage,
.collectionMenImage {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collectionMen {
  background: linear-gradient(
    51deg,
    rgba(251, 209, 3, 1) 0%,
    rgba(255, 225, 75, 1) 100%
  );
}

.collectionBaby {
  background-image: url(../assets/images/collectionBabyBackground.svg),
    linear-gradient(
      51deg,
      rgba(237, 238, 242, 1) 0%,
      rgba(236, 240, 243, 1) 100%
    );
  background-size: cover;
  height: 24rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  z-index: -2;
}

.collectionBabyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 1rem;
}

.collectionBabyContent h2 {
  font-size: 2rem;
}

.babySale {
  width: 18rem;
  background-image: url(../assets/images/Rectangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  margin: 1rem 0;
  transform: scale(0.9);
}

.babySale p:first-child {
  font-size: 3rem;
  font-weight: bold;
}

.babySale p:last-child {
  font-size: 1rem;
  color: #004743;
}

.collectionBabyImage {
  width: 20rem;
  position: relative;
}

.collectionBabyImage img {
  width: 100%;
}

.collectionBabyImage img:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  z-index: -1;
}
/*------------------------------
Collection - End
------------------------------*/
/*------------------------------
New Arrivals - Start
------------------------------*/
.newArrivals {
  margin: 5rem 0;
}

.newArrivalsTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--darkGrey);
}

.newArrivalsSubTitle {
  font-size: 1.2rem;
  color: var(--darkGrey);
  text-align: center;
  margin-bottom: 3rem;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	padding: 1rem;
}

.category div {
	width: 7rem;
	height: 3rem;
	border: 0.1rem solid var(--darkGrey);
	color: var(--darkGrey);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
	font-size: 1.4rem;
}

.categoryActive {
	border: 0.1rem solid var(--primaryColor)!important;
	background-color: var(--primaryColor);
}

.category div:first-child {
margin-left: 0;
}

.swiper {
	
}

.product {
	width: 30rem;
}

.productImage {
  width: 100%;
  height: 33rem;
	border-radius: 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
  margin-bottom: 2rem;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.productImage div {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage div img {
  width: 70%;
}

.productTag {
	right: auto;
	left: 1rem;
	top: 1rem;
	background-color: #FF7D1E;
}

.productFavorite {
  bottom: 16rem;
	background-color: #ffffff;
}

.productBag {
  bottom: 11rem;
	background-color: #ffffff;
}

.productPhotos {
  bottom: 6rem;
	background-color: #ffffff;
}

.productDetail {
  padding: 1rem;
}

.productDetail div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetail div:first-child span {
  color: var(--darkGrey);
}

.rate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rate img {
  margin-left: 0.4rem;
}

.rate img:first-child {
  margin-left: 0;
}

.productDetail p {
  font-size: 2rem;
  color: var(--darkGrey);
  text-align: left;
  font-weight: bold;
}

.productDetail div:last-child {
	display: flex;
	align-items: center;
}

.productPrice {
  color: #74ca4d;
  font-size: 3rem;
  font-weight: bold;
	margin-right: 2rem;
}

.productOff {
	color: var(--darkGrey);
	font-size: 2rem;
	font-weight: 400;
	text-decoration-line:line-through

}

.swiperButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.swiperButton div:first-child {
	margin-right: 2rem;
}
/*------------------------------
New Arrivals - End
------------------------------*/
/*------------------------------
Top Brands - Start
------------------------------*/
.topBrands {
	background-color: #004743;
	padding: 4rem 0 1rem 0;
	text-align: center;
}

.topBrands h2 {
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
}

.topBrands p {
font-size: 1.5rem;
color: white;
}

.topBrands p span {
	color: var(--primaryColor);
}

.brands {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 3rem 0 1rem 0;
}

.brands div {
	padding: 1rem;
	width: 10rem;
	height: 5rem;
background-color: #FFFFFF;
border-radius: 2rem;
margin-bottom: 1rem;
display: flex;
justify-content: center;
align-items: center;
}

.brands div:last-child {
	margin-bottom: 0;
}

.brands div img {
	width: 80%;
}
/*------------------------------
Top Brands - End
------------------------------*/
/*------------------------------
					App - End
------------------------------*/
