.favoriteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin-bottom: 10rem;
}

.favoriteTable {
  width: 100%;
  height: 200%;
  text-align: center;
  color: var(--darkGrey);
  margin-top: 8rem;
  padding: 1rem;
}

.favoriteTable img {
  width: 3rem;
  height: 3rem;
}

.dark-theme td svg path {
  fill: #ffffff;
}

.favoriteTable tr {
  border-bottom: 0.1rem solid var(--darkGrey);
}

.favoriteTable td,
.favoriteTable th {
  margin: 0.5rem;
}

.favoriteTable td,
.favoriteTable th {
  padding: 3px 3px;
  font-size: 13px;
}

.favoriteTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: var(--darkGrey);
  text-align: center;
}

.deleteProduct {
  cursor: pointer;
}

.btn {
	margin-top: 5rem;
}