/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }

  .attributes {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem -1rem;
  }

  .attribute {
    margin: 1rem;
  }

  .collectionWomen,
  .collectionMen,
  .collectionBaby {
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  .collectionBabyContent h2 {
    font-size: 3rem;
  }

  .topBrands {
    border-radius: 2rem;
  }

  .brands {
    flex-direction: row;
  }

  .brands div {
    margin-bottom: 0;
    margin-right: 0.7rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }

  .menu {
    height: 6rem;
  }

  .hamburgerMenu {
    display: none;
  }

  nav {
    position: relative;
    top: auto;
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: center;
    z-index: 0;
    margin: 0 3rem;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul a {
    width: auto;
  }

  nav ul a:hover {
    background-color: transparent;
    position: relative;
  }

  nav ul a:hover::before {
    content: "";
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--secondaryColor);
    margin-right: 1rem;
  }

  .menuIconImage:nth-child(3) {
    margin-right: 0;
  }

  .search {
    margin-left: 2rem;
    flex-grow: 1;
  }

  .headerContent {
    flex-direction: row-reverse;
  }

  .headerContentRight {
    align-items: flex-start;
  }

  .headerContentRight h1 {
    text-align: left;
  }

  .headerContentLeft img:last-child {
    top: 65%;
  }

  .attributes {
    margin: 8rem -1rem 8rem;
  }

  .newArrivalsTitle {
    font-size: 4rem;
  }

  .newArrivalsSubTitle {
    font-size: 1.5rem;
  }

  .category {
    padding: 2rem;
  }

  .category div {
    width: 8rem;
    height: 4rem;
    font-size: 1.8rem;
  }

	.swiper-button-prev:after {
    width: 4rem;
    height: 4rem;
  }

  .swiper-button-next:after {
    width: 4rem;
    height: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }

  nav ul {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .attributes {
    grid-template-columns: repeat(3, 1fr);
  }

  .attribute:nth-child(4) {
    grid-column: 2/3;
  }

  .collection {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .collectionWomen,
  .collectionMen {
    min-width: 43rem;
    margin-bottom: 2rem;
    height: 30rem;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .collectionWomenContent,
  .collectionMenContent {
    padding: 5rem 0 0 3rem;
  }

  .collectionWomen {
    margin-right: 1rem;
  }

  .collectionMen {
    margin-left: 1rem;
  }

  .collectionBaby {
    flex-grow: 1;
  }

  .topBrands h2 {
    font-size: 4rem;
  }

  .topBrands p {
    font-size: 2rem;
  }

	.swiper-button-prev:after {
    width: 5rem;
    height: 5rem;
  }

  .swiper-button-next:after {
    width: 5rem;
    height: 5rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }

  .attributes {
    grid-template-columns: repeat(4, 1fr);
  }

  .attribute:nth-child(4) {
    grid-column: 4/5;
  }

  .brands div {
    width: 12rem;
    height: 6rem;
    margin-right: 1rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 125rem;
  }

  .newArrivalsTitle {
    font-size: 6rem;
  }

  .newArrivalsSubTitle {
    font-size: 2.5rem;
  }

  .category {
    padding: 4rem;
  }

  .category div {
    width: 12rem;
    height: 6rem;
    font-size: 2.5rem;
  }

  .topBrands h2 {
    font-size: 5rem;
  }

  .topBrands p {
    font-size: 3rem;
  }

  .brands div {
    width: 14rem;
    height: 7rem;
    margin-right: 1.5rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }
}
