/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }

  .attributes {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem -1rem;
  }

  .attribute {
    margin: 1rem;
  }

  .collectionWomen,
  .collectionMen,
  .collectionBaby {
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

	.collectionBaby {
		height: 24rem;
		flex-direction: row;
	}

  .collectionBabyContent h2 {
    font-size: 3rem;
  }

  .topBrands {
    border-radius: 2rem;
  }

  .brands {
    flex-direction: row;
  }

  .brands div {
    margin-bottom: 0;
    margin-right: 0.7rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;
  }

  .footerLogo {
    grid-column: 1/4;
  }
  .footerHelp,
  .footerStore,
  .footerSupport {
    text-align: center;
    grid-row: 2/3;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }

	.btn {
		cursor: pointer;
	}

  .menu {
    height: 6rem;
  }

	.menuIcon div {
		cursor: pointer;
	}

  .hamburgerMenu {
    display: none;
  }

  nav {
    position: relative;
    right: auto;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: center;
    z-index: 0;
    margin: 0 0.5rem;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul a {
    width: auto;
  }

  nav ul a:hover {
    background-color: transparent;
    position: relative;
  }

  nav ul a:hover::before {
    content: "";
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--secondaryColor);
    margin-right: 1rem;
  }

  .menuIconImage:nth-child(4) {
    margin-right: 0;
  }

  .search {
    margin-left: 1rem;
    flex-grow: 1;
  }

  .headerContent {
    flex-direction: row-reverse;
  }

  .headerContentRight {
		width: 50%;
    align-items: flex-start;
  }

	.headerContentLeft {
	width: 50%;
	}

  .headerContentRight h1 {
    text-align: left;
  }

  .headerContentLeft img:last-child {
    top: 65%;
  }

  .attributes {
    margin: 8rem -1rem 8rem;
  }

  .collectionWomen,
  .collectionMen {
    padding-left: 3rem;
  }

  .title {
    font-size: 4rem;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .categories {
    padding: 2rem;
  }

  .categories div {
    width: 8rem;
    height: 4rem;
    font-size: 1.8rem;
		cursor: pointer;
  }

	.categories div:hover {
		color: white;
		border-color: var(--primaryColor);
		background-color: var(--primaryColor);
	}

	.productImage div {
		cursor: pointer;
	}

  .swiper-button-prev:after {
    width: 4rem;
    height: 4rem;
  }

  .swiper-button-next:after {
    width: 4rem;
    height: 4rem;
  }

  .rate img {
    cursor: pointer;
  }

  .review {
		width: 70rem;
    background-image: url(../assets/images/reviews-rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    flex-direction: row;
  }

  .imageReview {
    width: 14rem;
    height: 14rem;
  }
  .textReview {
    max-width: 40rem;
  }

  .newsletterTitle {
    font-size: 2.5rem;
  }

  .newsletterSubTitle {
    font-size: 1.5rem;
  }

  .newsletterEmail {
    width: 35rem;
  }

	.newsletterEmail button{
		cursor: pointer;
	}

	.socialMedia div {
		cursor: pointer;
		transition: var(--transitionBColor);
	}

	.socialMedia div:hover {
		background-color: var(--primaryColorHover);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }

  nav ul {
    font-size: 1.5rem;
    font-weight: 500;
  }

  nav ul a {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .headerContentRight h1 {
    font-size: 4rem;
  }

  .headerContentRight span {
    font-size: 2rem;
  }

  .btn {
    width: 18rem;
    height: 5rem;
  }

  .attributes {
    grid-template-columns: repeat(3, 1fr);
  }

  .attribute:nth-child(4) {
    grid-column: 2/3;
  }

  .collection {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .collectionWomen,
  .collectionMen {
    min-width: 43rem;
    margin-bottom: 2rem;
    height: 30rem;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .collectionWomenContent,
  .collectionMenContent {
    padding: 5rem 0 0 3rem;
  }

  .collectionWomen {
    margin-right: 1rem;
  }

  .collectionMen {
    margin-left: 1rem;
  }

  .collectionBaby {
    flex-grow: 1;
  }

  .topBrands h2 {
    font-size: 4rem;
  }

  .topBrands p {
    font-size: 2rem;
  }

  .swiper-button-prev:after {
    width: 5rem;
    height: 5rem;
  }

  .swiper-button-next:after {
    width: 5rem;
    height: 5rem;
  }

  .newsletterTitle {
    font-size: 3rem;
  }

  .newsletterSubTitle {
    font-size: 1.5rem;
  }

  .newsletterEmail {
    width: 40rem;
  }

  .footer {
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.7rem;
  }

  .footerLogo {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
  }

  .footerLogo p {
    text-align: justify;
  }

  .footerHelp,
  .footerStore,
  .footerSupport {
    grid-row: 1/2;
    margin-top: 0;
		text-align: left;
		align-self: normal;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }

  .headerContentRight h1 {
    font-size: 4.5rem;
    line-height: 1.5;
  }

  .btn {
    width: 20rem;
    height: 6rem;
    font-size: 3rem;
  }

  .title {
    font-size: 5rem;
  }

  .subTitle {
    font-size: 2.2rem;
  }

  .attributes {
    grid-template-columns: repeat(4, 1fr);
  }

  .attribute:nth-child(4) {
    grid-column: 4/5;
  }

  .brands div {
    width: 12rem;
    height: 6rem;
    margin-right: 1rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }

  .footer {
    font-size: 1.8rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 125rem;
  }

  .menu {
    height: 10rem;
  }

  .logo {
    font-size: 3.5rem;
  }

  #searchInput {
    height: 5rem;
  }

  #searchInput::placeholder {
    font-size: 2rem;
  }

  .search img {
    width: 4rem;
  }

  .menuIconImage {
    width: 4rem;
    height: 4rem;
  }

  nav {
    flex-grow: 1;
  }
  nav ul a {
    font-size: 2.2rem;
  }

  .title {
    font-size: 6rem;
  }

  .subTitle {
    font-size: 2.5rem;
  }

  .headerContentRight h1 {
    font-size: 6rem;
  }

  .attributesText {
    font-size: 2rem;
  }

  .attribute {
    margin: 0;
  }

  .collectionWomenContent p,
  .collectionMenContent p {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .collectionBabyContent h2 {
    font-size: 4rem;
  }

  .productDetail div:first-child span {
    font-size: 2rem;
  }

  .productDetail p {
    font-size: 2.5rem;
  }

  .categories {
    padding: 4rem;
  }

  .categories div {
    width: 12rem;
    height: 6rem;
    font-size: 2.5rem;
  }

  .topBrands h2 {
    font-size: 5rem;
  }

  .topBrands p {
    font-size: 3rem;
  }

  .brands div {
    width: 14rem;
    height: 7rem;
    margin-right: 1.5rem;
  }

  .brands div:last-child {
    margin-right: 0;
  }

  .textReview {
    max-width: 60rem;
  }

  .nameReview {
    font-size: 2rem;
  }

  .mainTextReview {
    font-size: 2rem;
  }
}
