/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }

  .hamburgerMenu {
    display: none;
  }

  nav {
    position: relative;
    top: auto;
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: center;
		z-index: 0;
		margin: 0 3rem;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul a {
    width: auto;
  }

  nav ul a:hover {
    background-color: transparent;
		position: relative;
  }

	nav ul a:hover::before{
		content: "";
		position: absolute;
		top: 0.3rem;
		left: 50%;
		transform: translateX(-50%);
		width: 1rem;
		height: 0.2rem;
		border-radius: 0.5rem;
		background-color: var(--secondaryColor);
		margin-right: 1rem;
	}

	.menuIconImage:nth-child(3) {
    margin-right: 0;
  }

	.search {
		margin-left: 2rem;
		flex-grow: 1;
	}

	.headerContent {
		flex-direction: row-reverse;
	}

	.headerContentRight {
		align-items: flex-start;
	}

	.headerContentRight h1 {
		text-align: left;
	}

	.headerContentLeft img:last-child {
		top:65%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }

	nav ul {
		font-size: 1.5rem;
		font-weight: 500;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 125rem;
  }
}
